.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #e0e0e0;
  opacity: 1;
  transition: all 0.3s ease;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background: #3b82f6;
  /* Blue */
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
  /* Blue glow */
  transform: scale(1.2);
}
